<div class="header">
  <h1>Build Overview</h1>
  <h2>Standalone Toolchain for Android NDK in Docker</h2>
</div>

<div class="content">
  <p>&nbsp;</p>

  <div class="pure-g logos">
    <div class="pure-u-1-3">
      <a href='https://developer.android.com/ndk/downloads/index.html'>
        <%= svg_image('Android_robot.svg') %>
      </a>
    </div>
    <div class="pure-u-1-3">
      <a href='https://travis-ci.org/rhardih/stand'>
        <%= svg_image('TravisCI-Mascot-grey.svg') %>
      </a>
    </div>
    <div class="pure-u-1-3">
      <a href='https://hub.docker.com/r/rhardih/stand/'>
        <%= svg_image('Docker-Cloud-Blue.svg') %>
      </a>
    </div>
  </div>

  <p>&nbsp;</p>

  <p>Find a combination of NDK-, platform version and toolchain, from the lists
  below and trigger a container build of that particular configuration from its
  build page.</p>

  <h2>NDK Versions</h2>

  <h3>Legends</h3>

  <table class="pure-table pure-table-horizontal">
    <tbody>
      <tr>
        <td><%= svg_icon('check-square.svg') %></td>
        <td>Built</td>
        <td><%= svg_icon('link.svg') %></td>
        <td>Ready</td>
        <td><%= svg_image('minus-square.svg') %></td>
        <td>Invalid combination</td>
      </tr>
    </tbody>
  </table>

  <% settings.ndk_info.each do |n, value| %>
    <h2 id="<%= n %>" class="content-subhead"><%= n %></h2>

    <table class="pure-table pure-table-striped fullwidth ndk">
      <% value['platforms'].each_slice(twidth) do |s| %>
      <thead>
        <tr>
          <th>Platform / Toolchain</th>
          <% s.each do |platform, toolchains| %>
            <th><%= platform.gsub(/android-/, '') %></th>
          <% end %>
          <% 1.upto(twidth - s.size) do %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% value['toolchains'].each do |toolchain| %>
          <tr>
            <td><%= toolchain %></td>
            <% s.each do |platform, toolchains| %>
              <td>
                <% if !toolchains.nil? && toolchains.include?(toolchain) %>
                  <% if tag_built?(n, platform, toolchain) %>
                    <a class="built" href='<%= "/build/#{n}/#{platform}/#{toolchain}" %> '>
                      <%= svg_icon('check-square.svg') %>
                    </a>
                  <% else %>
                    <a href='<%= "/build/#{n}/#{platform}/#{toolchain}" %> '>
                      <%= svg_icon('link.svg') %>
                    </a>
                  <% end %>
                <% else %>
                  <span class="invalid"><%= svg_icon('minus-square.svg') %></span>
                <% end %>
              </td>
            <% end %>
            <% 1.upto(twidth - s.size) do %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
  <% end %>
</div>
